.imageInputContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}

.imageInputContainer input{
    display: none;
}
.imagePreviewContainer{
  display: flex;
  gap: 16px;
}
.uploadBox {
    border: 2px dashed #d9d9d9;
    border-radius: 4px;
    padding: 16px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 16px;
  }
  .uploadBox input{
    display: none !important;
  }

  .uploadLabel {
    cursor: pointer;
  }

  .imagePreview {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
  .imagePreview img{
    width: 100%;
    object-fit: contain !important;
  }
  .removeIcon {
    position: absolute;
    top: 4px;
    right: 4px;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }

  .removeIcon:hover {
    /* background: rgba(255, 0, 0, 0.7); */
    background: rgba(255, 255, 255, 0.352);

  }

  .removeIcon svg {
    width: 16px;
    height: 16px;
    color: #ff4d4f;
  }
  .textarea {
    resize: vertical;
  }
  
  .errorText {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  .button.primary {
    background-color: #007bff;
    color: white;
  }
  
  .button.primary:hover {
    background-color: #0056b3;
  }
  
  .button.secondary {
    background-color: #6c757d;
    color: white;
  }
  
  .button.secondary:hover {
    background-color: #565e64;
  }
  